@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-base: 1rem;
		--font-scale: 1.25;
		--text-2xs: calc(var(--text-xs) / var(--font-scale));
		--text-xs: calc(var(--text-sm) / var(--font-scale));
		--text-sm: calc(var(--font-base) / var(--font-scale));
		--text-lg: calc(var(--font-base) * var(--font-scale));
		--text-xl: calc(var(--text-lg) * var(--font-scale));
		--text-2xl: calc(var(--text-xl) * var(--font-scale));
		--text-3xl: calc(var(--text-2xl) * var(--font-scale));
		--text-4xl: calc(var(--text-3xl) * var(--font-scale));

		--background: 0 0% 9%; /* #181616 */
		--foreground: 120 3% 78%; /* #c5c9c5 */
		--card: 0 0% 5%; /* #0d0c0c */
		--card-foreground: 47 21% 69%; /* #c4b28a */
		--popover: 0 0% 7%; /* #12120f */
		--popover-foreground: 45 23% 80%; /* #C8C093 */
		--primary: 207 19% 54%; /* #72A7BC */
		--primary-foreground: 0 0% 7%; /* #12120f */
		--secondary: 45 23% 80%; /* #C8C093 */
		--secondary-foreground: 0 0% 7%; /* #12120f */
		--accent: 27 29% 60%; /* #b6927b */
		--accent-foreground: 0 0% 7%; /* #12120f */
		--destructive: 358 50% 59%; /* #c4746e */
		--destructive-foreground: 0 0% 9%; /* #181616 */
		--muted: 0 0% 11%; /* #1A1A1A */
		--muted-foreground: 148 8% 69%; /* #a6a69c */
		--border: 0 0% 15%; /* #262626 */
		--input: 148 8% 69%; /* #a6a69c */
		--ring: 207 19% 54%; /* #72A7BC */
		--success: 103 17% 50%; /* #76946a */
		--warning: 39 39% 59%; /* #c0a36e */
		--radius: 0.5rem;
	}

	* {
		@apply border-border;
	}

	body {
		@apply font-dank bg-background text-foreground;
	}

	code {
		@apply font-dank grid p-1;

		.line {
			counter-increment: line;
			@apply py-1;
		}

		.line:not(:last-of-type)::before {
			content: counter(line);
			padding-inline: 0.5rem;
			opacity: 0.4;
		}

		.highlighted {
			@apply bg-primary/20;
		}
	}

	.shiki.has-focused .line:not(.focused) {
		filter: blur(0.2rem);
		opacity: 0.5;
		transition:
			filter 0.35s,
			opacity 0.35s;
	}

	.shiki.has-focused:hover .line:not(.focused) {
		filter: none;
		opacity: 1;
	}
}
